- content_for :title, raw(@article.title)
- content_for :meta_description, raw(@article.text)
- @title= @article.title
%h1= @article.title
.content= @article.text
%div= markdown(@article.body)

%h3 Comments:
- @comments.each do |comment|
  %div
    author:
    %b= comment.user.code if comment.user
  %div= comment.body

- if login?
  %h3 Add a comment:

  = form_for @article.comments.build, url: "/mindapp/init?s=comments:new_comment" do |f|
    = f.hidden_field :article_id, :value => @article.id
    = f.label :body, "Comment"
    = f.text_area :body
    = f.submit
